/* App.module.css */

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#invisible-load-container {
  min-height: 1000px;
  overflow: hidden;
  font-family: "SamsungOne", arial, sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.invisible-load-container .invisible-load-header h1 {
  text-align: center;
}
